# PyCharm
.idea

# Eclipse
.project
.pydevproject

# Python compiled files
*.py[cod]

# Temporary processing files
espa-job-*.log
espa-mapper.log

# Nose2/Coverage files
processing/.coverage
processing/htmlcov
