
# Defines for building this project
# To be included in all Makefiles

# This will be used as the base path for installtion
prefix = $(PREFIX)

# Must always be $(PREFIX)/bin because installation depends on it
# Only placed here because it is a common location for all makefiles
link_install_path = $(PREFIX)/bin
link_share_path = $(PREFIX)/share/espa

# ----------------------------------------------------------------------------
# Project specific variables, which are common to each project
project_name = espa-processing
espa_project_dir = $(prefix)/$(project_name)

# Algorithm specific variables
algorithm = processing
algorithm_dir = $(espa_project_dir)/$(algorithm)
install_path = $(algorithm_dir)/bin
link_install_source_path = ../$(project_name)/$(algorithm)/bin
share_path = $(algorithm_dir)/share
link_share_source_path = ../../$(project_name)/$(algorithm)/share
