
<div style="width:800px;margin: 0 auto;background:#DEDEDE;padding:10px;border:2px solid #CDCDCD;border-top:none">

<br/>
<p style="clear:both;margin:10px;"><strong>March 28, 2014 – Upcoming Changes to Landsat Surface Reflectance Climate Data Records, Sample Data Available</strong></p>
<p style="clear:both;margin:10px;">In the near future, several changes will be made to the processing and output options of SR CDR products. One change will allow users to select from three output formats: HDF, GeoTIFF, or Binary. (Surface Reflectance data products requested from EarthExplorer will be delivered in GeoTIFF format only.) The metadata will be delivered in an Extensible Markup Language (.XML) file. The brightness temperature delivered as Band 6 in the top of atmosphere (TOA) reflectance product will be labeled in Kelvin instead of currently-noted Celsius.</p>
<p style="clear:both;margin:10px;">Samples of new data products are available to download from http://landsat.usgs.gov/sr_samples.php.</p>
<br/>
</div>





